.summary{
    padding: 50px 0;
}
.summary>h1{
    margin-bottom: 15px ;
    color: #1e266d;
    font-weight: bold;
}
.summary>h5{
    margin: 30px 0;
    font-size: 23px;
    color: #404040;
    font-weight: 400;
    line-height: 1.4;
}